@{
    ViewData["Title"] = "Blockchain";
}

<div class="text-center">
    <h1 class="display-4">Blockchain Generation Project</h1>
    <p>Create and Mine a Blockchain</p>

    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />

    <hr width="50%">
    <p style="text-align:left;">
        <b><u>This project was originally uploaded in Portuguese and was translated to English</u></b>.<br />
        <br /><strong>Project source</strong>:<br /><a href="https://github.com/agamenonPereira/BlockchainDemo" target="_blank">https://github.com/agamenonPereira/BlockchainDemo</a><br />
        <br />By Agamenon Sousa Pereira
    </p>
</div>



